<!DOCTYPE html>
<html lang="en">
<head>
<style>
@import url('https://fonts.googleapis.com/css?family=Rokkitt');
</style> 

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Organic Beauty</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <div class="container-center">
    <nav class=#CAA9AD role="navigation">
      <a id="logo-container" href="#" class="brand-logo"><img src="https://fontmeme.com/permalink/170629/459bd603e8cf69cc899af4b7365db2ce.png" alt="handwriting-fonts" border="0"></a>
    </nav>
  </div>
  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container-center">
        <br><br>
        <!--<h1 class="header center">Organic Beauty</h1>-->
        <div class="row center"><br><br>
          <h5 class="header col s12" style="padding-top:180px;">Helping you find the purest beauty product alternatives</h5>
        </div>
        <div class="row center">
          <!--<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>-->
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://68.media.tumblr.com/9ab11a73d6d354188f6c4a462e75de0f/tumblr_oce9aqvtSt1swyb6ao1_400.gif" alt="Unsplashed background img 1"></div>
  </div>


    <!--<div class="container">-->
    <!--<div class="menu">-->
      <!--<div class="container">-->
    <div class="section">
<div class="row center">
    <div class="container">
     <h3>Find your Non-GMO, Vegan, or Organic beauty alternative!</h3>
    <form method="POST" action="/product">
      <h4> What type of product would you like? </h4>
      
   <div class="input-field col s12">
    <select name="search">
  <option value="" disabled selected>Choose an option</option>
  <!--<option value=" "></option>-->
  <option value="foundation">Foundation</option>
  <option value="lipstick">Lipstick</option>
  <option value="mascara">Mascara</option>
  <option value="blush">Blush</option>
  <option value="bronzer">Bronzer</option>
  <option value="eyeliner">Eyeliner</option>
  <option value="eyeshadow">Eyeshadow</option>
  <option value="lip liner">Lip Liner</option>
  <option value="nail polish">Nail Polish</option>
    </select>
    <!--<label>Materialize Select</label>-->
  <!--</div>-->
  <!--<input type="submit">-->
    
 <!--</form>-->
 
  <h4> Do you want an Organic, Non-GMO, or Vegan alternative? </h4>
 <!--<div class="input-field col s12">-->
    
 <!-- <option value="" disabled selected>Choose your option</option>-->
 <!-- <form>-->
  
 <!-- <div>-->
  <!--<div class="input-field col s12">-->
  <!--  <label><input type="checkbox" name="hello" value="value"></label>-->
  <!--  <input type="checkbox" name="choice" value="Vegan">-->
  <!--  <label for="vegan">Vegan</label>-->
  <!--  <input type="checkbox" name="choice" value="Non-GMO">-->
  <!--  <label for="non-gmo">Non-GMO</label>-->
  <!--  <input type="checkbox" name="choice" value="Organic">-->
  <!--  <label for="organic">Organic</label>-->
 
  
  <div class="input-field col s12">
    <select name="hello">
  <option value="" disabled selected>Choose an option</option>
  <!--<option value=" "></option>-->
  <option value="vegan">Vegan</option>
  <option value="organic">Organic</option>
  <option value="non-gmo">Non-gmo</option>
  </select>
  
  <div>
  <input type="submit">
  </div>
</form>



  
   
    <!--<label>Materialize Select</label>-->
  <!--</div>-->
  
<br>
<br>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center CAA9AD-text"><img src="images/organic.jpg"></i></h2>
            <h5 class="center"><a href="http://makeup-api.herokuapp.com/api/v1/products?product_tags=organic">Organic</a></h5>

            <p class="light">Organic beauty products are made from ingredients that are certified organic by one of the certifying institutions worldwide.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            
            <h1 class="center CAA9AD-text"><img src="images/vegan.jpg"></i></h1>
            <h5 class="center"><a href="http://makeup-api.herokuapp.com/api/v1/products?product_tags=vegan">Vegan</a></h5>

            <p class="light">Vegan beauty products do not contain any animal ingredients or animal derived ingredients.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center CAA9AD-text"><img src="images/gmo.jpg"></i></h2>
            <h5 class="center"><a href="http://makeup-api.herokuapp.com/api/v1/products?product_tags=non-gmo">Non-GMO</a></h5>

            <p class="light">Non-Gmo beauty products are made from ingredients that are not genetically modified.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
<!--</div>-->

  <!--<div class="parallax-container valign-wrapper">-->
  <!--  <div class="section no-pad-bot">-->
  <!--    <div class="container">-->
  <!--      <div class="row center">-->
  <!--        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="parallax"><img src="images/background2.jpg" alt="Unsplashed background img 2"></div>-->
  <!--</div>-->

  <br>
  <br>
  <!--<div class="container">-->
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>The impact of your makeup</h4>
          <p class="left-align light">There is no better feeling than putting your makeup on. But as we are applying our favorite products, it is hard to think about the effects of those products on our skin and the environment. Chemcials found in our makeup, like parabens and phalates, have been proven to be detrimental to these two bodies. From poluting our bodies of water to harming marine life, the chemicals and packaging of makeup dangerously harm our environment, which many people hardly ever think about or ever see. There are many different makeup brands who operate and promote sustainability that are easy to find. Switching your products is beneficial to a beautiful you and the beautiful earth we live on.</p>
        </div>
      </div>
    </div>
  </div>
 <br>
  <br>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <!--<div class="container">-->
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      <!--</div>-->
    </div>
    <div class="parallax"><img src="http://68.media.tumblr.com/8bba1a36ac9a9958da6bcc5f16eb2734/tumblr_nuf6mcqDpu1qf8em3o1_1280.jpg" alt="Unsplashed background img 3">
      </div>
  </div>
  
  <footer class="page-footer">
    <!--<div class="container">-->
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Promoting eco-friendly makeup, while making you feel beautiful.</p>
          <h7>Made by Sydney, Daniella, and Angeline</h7>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Sources</h5>
          <ul>
            <li><a class="white-text" href="http://www.huffingtonpost.com/2008/11/06/earth-friendly-makeup-how_n_139270.html">Earth-Friendly Makeup: How To Be Nicer To Your Face And Your Planet</a></li>
            <li><a class="white-text" href="http://www.huffingtonpost.ca/emily-lyons/makeup-pollution_b_10758282.html">Your Fave Makeup Could Be Harming The Environment</a></li>
            <li><a class="white-text" href="http://www.simpleluxeliving.com/the-environmental-damages-of-cosmetics/">The Environmental Damages Of Cosmetics</a></li>
            <li><a class="white-text" href="http://greenspirit.com/beauty-environment/">Beauty Products & Their Impact on Health and the Environment</a></li>
          </ul>
        </div>
      
      <!--</div>-->
    <!--</div>-->
    <!--<div class="footer-copyright">-->
      <!--<div class="container">-->
    <!-- <h7>Made by Sydney, Daniella, and Angeline</h7>-->
      <!--</div>-->
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>$(document).ready(function() {
    $('select').material_select();
});</script>
  </body>
</html>
